.ItemListContainer{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: orange;
    text-align: center;

    .img{
        opacity: 10%;
    }

}
